extends layout/app

block page
	include chunk/header

	main.main
		h1.visually-hidden Test task for UMA Soft

		include index/banner-section
		include index/notaition-section

		include index/garmony-water-section
		include index/new-jewelry-section
		include index/ring-diamond-section
		include index/ring-emerald-section
		include index/favorites-slider-section


	include chunk/footer