.banner{
	margin-top: 100px;

	@include media-desctop{
		margin-top: 50px;
	}
}
.banner__title{
	@include text-reset;
	text-align: center;
}
.banner-block{
	display: block;
	width: 100%;
	margin-top: 50px;
}