.excerption{
	width: 335px;
	margin: 0 20px 0 auto;
	justify-self: right;

	@include media-desctop{
		margin: 0 30px 0 auto;
	}
}
.excerption__author{
	display: block;

	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.9px;

	text-align: right;

	margin-top: 10px;
}