.favorites-slider{
	margin: 100px 20px 0;

	@include media-tab{
		margin: 100px 40px 0;
	}

	@include media-desctop{
		margin: 40px auto 0;
	}
}

.favorites-slider__title{
	@include text-reset;
	text-align: center;
}

.favorites-slider-block{
	position: relative;

	margin: 50px auto 0;
}
.favorites-slider-wrap{
	position: relative;
	display: flex;
	justify-content: center;

	overflow: hidden;

	width: 100%;

	z-index: 1;

	@include media-desctop{
		width: 100%
	}
}

.favorites-slider-list{
	@include no-list-style;

	transition: transform 0.2s linear;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	max-height: none;
	min-height: calc(100% + 30px);

	overflow: visible;

	height: max-content;

	padding-bottom: 30px;

	width: 100%;

	@include media-custom(475px){
		transition: transform 0.5s linear;
	}

	@include media-tablet{
		transition: transform 0.8s linear;
	}
}
.favorites-slider-list__item{
	display: flex;
	justify-content: center;
	align-items: center;
}

.favorites-slider__btn-left,
.favorites-slider__btn-right{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	width: 25px;
	height: 25px;

	overflow: hidden;

	z-index: 3;

	border: 0;

	background-image: url("../assets/img/Arrow_Left.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.favorites-slider__btn-left{
	left: -15px;

	@include media-tablet{
		left: -25px;
	}
}
.favorites-slider__btn-right{
	right: -15px;
	transform: translateY(-50%) rotateZ(180deg);
	order: 1;

	@include media-tablet{
		right: -25px;
	}
}