.garmony-water{
	margin: 100px 20px 0;

	@include media-desctop{
		margin: 100px auto 0;
	}
}
.garmony-water__title{
	@include text-reset;
	text-align: center;
}
.garmony-water__notation{
	display: block;

	text-align: center;
	font-family: "Proxima Nova", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 162.5% */
	letter-spacing: 0.8px;

	margin-top: 15px;
}