.ring-emerald{
	display: block;
	margin-top: 45px;

	@include media-tab{
		margin: 50px 6% 0;
	}

	@include media-tablet{
		display: flex;
		align-items: center;

		margin: 45px auto 0;
	}
}
.ring-emerald-container{
	display: block;

	margin: 40px 20px 0;

	@include media-tablet{
		width: 70%;

		margin: 0;
		padding: 20px 20px 10px;
	}

	@include media-desctop{
		padding: 10px 50px 10px;
		width: 50%;
	}
}
.ring-emerald-block{
	display: block;

	@include media-tablet{
		flex-grow: 1;
	}
}
.ring-emerald__title{
	@include text-reset;
}

.ring-emerald__text{
	@include text-reset;
	margin-top: 12px;
	margin-bottom: 12px;
}