.ring-diamond{
	display: block;
	margin-top: 100px;

	@include media-desctop{
		display: flex;
		align-items: center;

		margin-top: 10px;
	}
}
.ring-diamond-container{
	display: block;
	margin: 0 20px;

	@include media-desctop{
		width: 710px;

		margin: 0;
		padding: 0 50px 10px;
	}
}
.ring-diamond-block{
	display: block;
	margin-top: 55px;

	@include media-desctop{
		flex-grow: 1;
	}
}
.ring-diamond__title{
	@include text-reset;
}