@font-face {
	font-family: "Proxima Nova";
	font-display: swap;
	font-weight: 400;
	font-style: normal;

	src:
		url("/fonts/ProximaNova-Regular.woff2") format("woff2"),
		url("/fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
	font-family: "Proxima Nova";
	font-display: swap;
	font-weight: 600;
	font-style: normal;

	src:
		url("/fonts/ProximaNova-Semibold.woff2") format("woff2"),
		url("/fonts/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
	font-family: "Baskerville Display PT";
	font-display: swap;
	font-weight: 700;
	font-style: normal;

	src:
		url("/fonts/BaskervilleCyrLTStd-Bold.woff2") format("woff2"),
		url("/fonts/BaskervilleCyrLTStd-Bold.woff") format("woff");
}