@media screen and (min-width: 1921px) and (max-width: 2047px){
	body {
		zoom: 1.1;
	}
}
@media screen and (min-width: 2048px) and (max-width: 2259px){
	body {
		zoom: 1.2;
	}
}
@media screen and (min-width: 2260px) and (max-width: 2560px){
	body {
		zoom: 1.333;
	}
}
*{
	box-sizing: border-box;
}
body{
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.8px;
	font-weight: 400;
	color: #000;

	margin: 0;
	padding: 0;
}
h1,h2,h3,h4{
	font-family: "Baskerville Display PT", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 1.2px;
	color: #000;
}


img{
	width: 100%;
	height: auto;
}

a, button{
	text-decoration: none;
	cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden{
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}



