doctype html

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")


		link(rel="preload" href="styles/fonts/ProximaNova-Regular.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="styles/fonts/ProximaNova-Semibold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="styles/fonts/BaskervilleCyrLTStd-Bold.woff2" as="font" type="font/woff2" crossorigin)

		link(rel="preload" href="styles/main.min.css" as="style")
		link(rel="stylesheet" href="styles/main.min.css")

		link(type="image/x-icon" href="favicon.ico" rel="shortcut icon")
		link(type="Image/x-icon" href="favicon.ico" rel="icon")

		title UMA Soft

	body
		block page

		script(src="./scripts/main.js")