section.banner
	h2.banner__title ГАРМОНИЯ ВОДЫ
	picture.banner-block.js-anim-grow
		source(type="image/webp" media="(min-width: #{mediaWidthDesctop})" srcset="assets/img/Banner-desctop2x.webp 2x, assets/img/Banner-desctop.webp 1x")
		source(type="image/webp" media="(min-width: #{mediaWidthMobile})" srcset="assets/img/Banner-mobile2x.webp 2x, assets/img/Banner-mobile.webp 1x")
		source(media="(min-width: #{mediaWidthDesctop})" srcset="assets/img/Banner-desctop2x.png 2x, assets/img/Banner-desctop.png 1x")
		source(media="(min-width: #{mediaWidthMobile})" srcset="assets/img/Banner-mobile2x.png 2x, assets/img/Banner-mobile.png 1x")
		img(src="assets/img/Banner-desctop.png" alt="")