- var nameRing = ["Кольцо лотос", "Кольцо лотос", "Кольцо лотос", "Кольцо рубоновый микс", "Кольцо лотос", "Кольцо лотос"];

section.favorites-slider
	h2.favorites-slider__title ИЗБРАННЫЕ УКРАШЕНИЯ

	.favorites-slider-block
		.slider-btns-block
			button.favorites-slider__btn-left.js-favorites-slider__btn-left
			button.favorites-slider__btn-right.js-favorites-slider__btn-right

		.favorites-slider-wrap

			ul.favorites-slider-list
				- for(var li = 0; li < 6; li++)
					li.favorites-slider-list__item
						picture.favorites-slider-img-block
							source(type="image/webp" srcset="assets/img/Ring-slider2x.webp 2x, assets/img/Ring-slider1x.webp 1x")
							source(srcset="assets/img/Ring-slider2x.png 2x, assets/img/Ring-slider1x.png 1x")
							img(src="assets/img/Ring-slider1x.png" alt="")
						p.favorites-slider-list__text #{nameRing[li] ? nameRing[li] : "Кольцо лотос"}