section.new-jewelry
	picture.new-jewelry-block.js-anim-left
		source(type="image/webp" media="(min-width: #{mediaWidthDesctop})" srcset="assets/img/Diamond-desctop2x.webp 2x, assets/img/Diamond-desctop1x.webp 1x")
		source(type="image/webp" media="(min-width: #{mediaWidthMobile})" srcset="assets/img/Diamond-mobile2x.webp 2x, assets/img/Diamond-mobile1x.webp 1x")
		source(media="(min-width: #{mediaWidthDesctop})" srcset="assets/img/Diamond-desctop2x.png 2x, assets/img/Diamond-desctop1x.png 1x")
		source(media="(min-width: #{mediaWidthMobile})" srcset="assets/img/Diamond-mobile2x.png 2x, assets/img/Diamond-mobile1x.png 1x")
		img(src="assets/img/Diamond-desctop1x.png" alt="")

	.new-jewelry-container
		h2.new-jewelry__title НОВОЕ ЮВЕЛИРНОЕ ЦВЕТЕНИЕ
		p.new-jewelry__text.js-anim-right Творения MOISEIKIN всегда отличали творческая смелость и открытость к инновациям. Для создания ювелирного образа цветка лотоса — плотного, живого, готового раскрыться и потянуться к первым лучам восходящего солнца — мы окружили центральный камень «лепестками» огранки «маркиз» с ПЕРЕВЕРНУТОЙ ЗАКРЕПКОЙ: техническим приемом, уже ставшим фирменной подписью Дома.