section.notation
	h2.notation__title НАСТРОЙТЕСЬ НА ЛЮБОВНУЮ ВОЛНУ
	p.notation__text Инновационные и сентиментальные украшения коллекции погружают нас в чувственную гармонию водной стихии.
	a.notation__link(href="#") Посмотреть коллекцию