section.ring-diamond
	.ring-diamond-container
		h2.ring-diamond__title БРИЛЛИАНТОВЫЙ ЛОТОС
		p.ring-diamond__text Великолепный камень круглой огранки плывет по искрящимся на солнце волнам в сияющем ореоле из бриллиантовых лепестков. Стилизованный цветок придает кольцу невероятно женственный и современный вид. Единение мужского и женского начала, чистота, красота и совершенство в инновационном и романтическом помолвочном кольце «Лотос».

	picture.ring-diamond-block
		source(type="image/webp" media="(min-width: #{mediaWidthDesctop})" srcset="assets/img/Ring-diamond-desctop2x.webp 2x, assets/img/Ring-diamond-desctop1x.webp 1x")
		source(type="image/webp" media="(min-width: #{mediaWidthMobile})" srcset="assets/img/Ring-diamond-mobile2x.webp 2x, assets/img/Ring-diamond-mobile1x.webp 1x")
		source(media="(min-width: #{mediaWidthDesctop})" srcset="assets/img/Ring-diamond-desctop2x.png 2x, assets/img/Ring-diamond-desctop1x.png 1x")
		source(media="(min-width: #{mediaWidthMobile})" srcset="assets/img/Ring-diamond-mobile2x.png 2x, assets/img/Ring-diamond-mobile1x.png 1x")
		img(src="assets/img/Ring-diamond-desctop1x.png" alt="")