section.ring-emerald
	picture.ring-emerald-block.js-anim-left
		source(type="image/webp" media="(min-width: #{mediaWidthDesctop})" srcset="assets/img/Ring-emerald-desctop2x.webp 2x, assets/img/Ring-emerald-desctop1x.webp 1x")
		source(type="image/webp" media="(min-width: #{mediaWidthMobile})" srcset="assets/img/Ring-emerald-mobile2x.webp 2x, assets/img/Ring-emerald-mobile1x.webp 1x")
		source(media="(min-width: #{mediaWidthDesctop})" srcset="assets/img/Ring-emerald-desctop2x.png 2x, assets/img/Ring-emerald-desctop1x.png 1x")
		source(media="(min-width: #{mediaWidthMobile})" srcset="assets/img/Ring-emerald-mobile2x.png 2x, assets/img/Ring-emerald-mobile1x.png 1x")
		img(src="assets/img/Ring-emerald-desctop1x.png" alt="")

	.ring-emerald-container.js-anim-right
		h2.ring-emerald__title ВЛЮБИТЬСЯ В КАМЕНЬ
		p.ring-emerald__text Линия помолвочных колец «Лотос» с цветными камнями символизирует любовь во всех ее проявлениях: от сапфиров, рубинов и изумрудов до аквамаринов и демантоидов.
		p.ring-emerald__text Выберите цвет, в котором проявится уникальность вашего самого важного решения. Выберите камень, который создаст неповторимый образ вашего чувства.

